@use "../abstracts/mixins" as *;
@use "./../abstracts/variables" as *;

.notes-layout {
  @include three-column-layout();
  overflow: hidden;

  &__sidebar {
    @include layout-column(right);
  }

  &__content {
    height: 90vh;
    padding: 1rem;
  }

  &__action-panel {
    @include layout-column(left);
  }

  input,
  textarea {
    border: none;

    &:focus {
      outline: 0.4px solid $color-primary-500;
    }

    textarea {
      height: 100vh;
    }
  }
}
